<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>travelnews</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserDetailServlet</servlet-name>
    <servlet-class>com.syf.action.UserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailServlet</servlet-name>
    <url-pattern>/userdetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsTypeServlet</servlet-name>
    <servlet-class>com.syf.action.NewsTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeServlet</servlet-name>
    <url-pattern>/newstypeservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.syf.util.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>NewsDetailServlet</servlet-name>
    <servlet-class>com.syf.action.NewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDetailServlet</servlet-name>
    <url-pattern>/newsdetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
    <init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
    <init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>jsessionid</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>
			/ckfinder/core/connector/java/connector.java
     	 </url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.syf.action.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/commentservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.syf.util.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/web/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.syf.action.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/blogservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelTypeServlet</servlet-name>
    <servlet-class>com.syf.action.HotelTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelTypeServlet</servlet-name>
    <url-pattern>/hoteltypeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelDetailServlet</servlet-name>
    <servlet-class>com.syf.action.HotelDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelDetailServlet</servlet-name>
    <url-pattern>/hoteldetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoadTypeServlet</servlet-name>
    <servlet-class>com.syf.action.RoadTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoadTypeServlet</servlet-name>
    <url-pattern>/roadtypeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoadDetailServlet</servlet-name>
    <servlet-class>com.syf.action.RoadDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoadDetailServlet</servlet-name>
    <url-pattern>/roaddetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopNewsDetailServlet</servlet-name>
    <servlet-class>com.syf.action.TopNewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopNewsDetailServlet</servlet-name>
    <url-pattern>/topnewsdetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDetailServlet</servlet-name>
    <servlet-class>com.syf.action.MessageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDetailServlet</servlet-name>
    <url-pattern>/messagedetailservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LetterServlet</display-name>
    <servlet-name>LetterServlet</servlet-name>
    <servlet-class>com.syf.action.LetterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LetterServlet</servlet-name>
    <url-pattern>/letterservlet</url-pattern>
  </servlet-mapping>
</web-app>